/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

    
    -fx-background-color: linear-gradient(to bottom, #0B1E34, #646366);
    
}

.button1{
   
        -fx-border-color: linear-gradient(to left, #9B2DEF, #35EDFB);    
    -fx-background-radius: 30;
    -fx-border-width: 2px
    
}

.button2{
   
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    
}

.button2:hover{
  
  -fx-text-fill: #2dceef;
}

.button3{
   
    -fx-background-color: linear-gradient(to left, #9B2DEF, #35EDFB);    
    -fx-background-radius: 30;
    -fx-border-width: 2px
    
}





.MTrimBar {
    background-color: #000000; 
}


.text-field {
    -fx-background-color: #898B91;
    -fx-background-radius: 30;
    -fx-text-fill:#ffffff;
    
}


.text-field-1 {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-text-fill:#ffffff;
    
}




.text-fieldf1:focused{
    -fx-faint-focus-color: red;
    
}

.jfx-tab-pane .tab
{
  -fx-background-insets: 0 5em 0 0, 1 5em 1 1, 2 5em 0 0;
  -fx-padding: 0.083333em 100em 0.083333em -50em;
}
.jfx-tab-pane .headers-region {
    -fx-background-color: transparent;
    -fx-tab-min-width:120px;
  
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: transparent;
}
.jfx-tab-pane .tab-selected-line {
   -fx-background-color: linear-gradient(to left, #9B2DEF, #35EDFB); 
    -fx-stroke-width: 3pt;
}
.tab-pane{
    -fx-padding: 0 -1 -1 -1
}




.jfx-tab-pane1 .tab
{
  -fx-background-insets: 0 5em 0 0, 1 5em 1 1, 2 5em 0 0;
  -fx-padding: 10em 60em 15em -50em;
}
.jfx-tab-pane1 .headers-region1 {
    -fx-background-color: red;
    -fx-tab-min-width:120px;
     -fx-rotate: 90;
  
}
.jfx-tab-pane1 .tab-header-background1 {
    -fx-background-color: red;
}
.jfx-tab-pane1 .tab-selected-line1 {
   -fx-background-color: red; 
    -fx-stroke-width: 3pt;
}
.tab-pane1{
    -fx-padding: 0 -1 -1 -1
}


.tab2 *.tab-label {
    -fx-rotate: 90;
}

.tab {
    -fx-padding: 3em 0.5em 3em 0.5em;
}